.selector {
  position: relative;
  color: var(--color-text-gray);
  width: 240px;
  font-family: inherit;

  &.small {
    width: 105px;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 10px 14px;
  border: 1px solid var(--color-border-gray);
  border-radius: 6px;

  font-size: 16px;
  background-color: #fff;
  cursor: pointer;

  &.small {
    padding: 2px 8px;
    font-size: 14px;
  }
}

.arrowBtn {
  border: none;
  background: transparent;
  padding: 0;
  margin-left: 4px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s ease;

  &.open {
    transform: rotate(180deg);
  }

  &.small {
    width: 10px;
    height: 10px;
  }
}

.selectOptions {
  position: absolute;
  left: 0;
  right: 0;
  top: calc(100% + 4px);
  padding: 2px;

  border: 1px solid var(--color-border-gray);
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  z-index: 10;
}

.selectOption {
  display: flex;
  align-items: center;

  padding: 8px 12px;
  font-size: 16px;
  color: var(--color-text-gray);
  cursor: pointer;

  &:hover {
    background-color: #f5f5f5;
  }

  &.small {
    font-size: 14px;
    border-radius: 6px;
    padding: 5px 5px;
    font-size: 14px;
  }
}
