.selector {
  position: relative;
  color: var(--color-text-gray);
  width: 240px;
  font-family: inherit;

  .button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 14px;
    border: 1px solid var(--color-border-gray);
    border-radius: 6px;
    font-size: 16px;
    background-color: #fff;
    cursor: pointer;
  }

  .arrowBtn {
    border: none;
    background: transparent;
    padding: 0;
    margin-left: 4px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s ease;

    &.open {
      transform: rotate(180deg);
    }
  }

  .selectOptions {
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% + 4px);
    padding: 2px;
    border: 1px solid var(--color-border-gray);
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgb(0 0 0 / 8%);
    z-index: 10;
  }

  .selectOption {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    font-size: 16px;
    color: var(--color-text-gray);
    cursor: pointer;

    &:hover {
      background-color: #f5f5f5;
    }
  }

  &.small {
    width: 105px;

    .button {
      padding: 2px 7px;
      font-size: 14px;
    }

    .arrowBtn {
      width: 10px;
      height: 10px;
    }

    .selectOption {
      border-radius: 6px;
      padding: 5px;
      font-size: 14px;

      &:hover {
        background-color: #f5f5f5;
      }
    }
  }
}
