.input {
  position: relative;
  display: flex;
  align-items: center;
}

.inputInternal {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: rgba(0, 0, 0, 0.87);

  &.bordered {
    width: 240px;
    height: 56px;
    border: 1px solid rgba(0, 0, 0, 0.38);
    border-radius: 8px;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 119%;
    color: black;

    &::placeholder {
      color: rgba(0, 0, 0, 0.6);
    }
  }

  &.underlined {
    width: 180px;
    height: 30px;
    border: none;
    border-bottom: 1px solid black;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: rgba(0, 0, 0, 0.87);

    &:focus {
      outline: none;
    }
  }
}

.icon {
  position: absolute;
  left: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.clearButton {
  position: absolute;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 18px;
  line-height: 1;
}
