.header {
  width: 100%;
  padding: 5px 0;
  box-shadow: 0 2px 6px -1px var(--color-shadow);
  margin-bottom: 20px;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerButtonGroup {
  display: flex;
  gap: 15px;
}
