.status {
  display: inline-block;
  margin-left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: transparent;
  flex-shrink: 0;
}

.green {
  background-color: var(--color-status-green);
}

.red {
  background-color: var(--color-status-red);
}

.orange {
  background-color: var(--color-status-orange);
}
