.icons {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  opacity: 0%;
  visibility: hidden;
  transition:
    opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
}

.icon {
  opacity: 0%;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    opacity: 100%;
  }
}

.card {
  box-sizing: content-box;
  font-family: Roboto, sans-serif;
  display: flex;
  width: 508px;
  border-radius: 6px;
  box-shadow: 1px 1px 4px 0 rgb(0 0 0 / 25%);
  padding: 7px;
  position: relative;

  &:hover .icons {
    opacity: 100%;
    visibility: visible;
  }
}

.image {
  width: 240px;
  flex-shrink: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
  }
}

.info {
  padding: 7px 13px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: rgb(0 0 0 / 87%);
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}

.row {
  display: flex;
  flex-direction: column;
}

.label {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #3f3f3f;
}

.status {
  display: flex;
  align-items: center;
}

.value {
  display: flex;
  align-items: center;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: rgb(0 0 0 / 60%);
}
