.character {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.backButton {
  align-self: flex-start;
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  color: var(--color-text-black);
  font-size: 18px;
  font-weight: 700;
}
