.character {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.backButton {
  align-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 0;
  border: none;
  font-size: 18px;
  font-weight: 700;
  color: var(--color-text-black);
  background-color: transparent;
  cursor: pointer;
}

.image {
  width: 300px;
  height: 300px;
  margin-bottom: 16px;
  border: 5px solid var(--color-border-image);
  border-radius: 100%;
  overflow: hidden;
}
