.character {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.backButton {
  position: absolute;
  top: 100px;
  left: 440px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 0;
  border: none;
  font-size: 18px;
  font-weight: 700;
  color: var(--color-text-black);
  background-color: transparent;
  cursor: pointer;
}

.image {
  width: 300px;
  height: 300px;
  margin-bottom: 16px;
  border: 5px solid var(--color-border-image);
  border-radius: 100%;
  overflow: hidden;
}

.title {
  text-align: center;
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 30px;
}

.subtitle {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: var(--color-text-gray);
  margin-bottom: 25px;
}

.row {
  display: flex;
  flex-direction: column;
  padding: 10px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    height: 1px;
    background-color: var(--color-border-image);
  }
}

.label {
  font-size: 16px;
  font-weight: 700;
}

.value {
  color: var(--color-text-gray);
  font-size: 14px;
  font-weight: 400;
}
