.errorPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.resetButton {
  margin-top: 20px;
  padding: 5px;
  font-size: 24px;
  border: 1px solid var(--color-border);
  border-radius: 4px;
  color: var(--color-text-black);
}
