@use './reset';

:root {
  --roboto-font-family: 'Roboto', sans-serif;
  --color-bg-white: #fff;
  --color-text-black: #000000de;
  --color-text-gray: #6e798c;
  --color-status-green: #12b800;
  --color-status-red: #df0000;
  --color-status-orange: #f90;
  --color-shadow: #cccbcb;
  --color-border: #00000080;
  --color-border-gray: #aaa;
  --color-border-image: #f2f2f7;
}

body {
  height: 100vh;
  width: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.container {
  max-width: 1044px;
  margin: 0 auto;
  box-sizing: border-box;
}
