.notFoundPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  margin: 0;
  gap: 70px;
  text-align: center;
}

.homeButton {
  padding: 18px 50px;
  border: 1px solid var(--color-border-gray);
  border-radius: 8px;
  font-size: 18px;
  font-weight: 700;
  color: var(--color-text-black);
  text-align: center;
  text-decoration: none;
}
